<header>
    <div class="logo-box">
        <div class="logo">
            <img class="logo-icon" src="../../../../assets/img/technology_business.png" alt="">
        </div>
        <div class="title">
            Expense<span>Calculator</span>
        </div>
    </div>
    <div class="inputs">
        <input class="search-input" type="search" placeholder="Search events">
        <input class="search-button" type="button" value="SEARCH">
    </div>
    <div class="avatar">
        <img class="avatar-icon" src="../../../../assets/img/person_avatar.png" alt="">
        <p>Volodymyr Holovstkyi</p>
    </div>
</header>