:host {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.content-box {
  width: 100%;
  // background: #f8f7f7;
  background: rgb(228, 234, 236);
}
