<div class="statistics">
    <div class="expenses-per-person">
        <p>Expenses per person: <span>&nbsp; $ 50.00</span></p>
    </div>
    <div class="total-cost-box">
        <p>Total excpenses: <span>&nbsp; $ 124.66</span></p>
    </div>
</div>

<div class="select-event">
    <h1>Event: Mountains</h1>
    <select class="arrow-down-select">
        <option value="">--Select an event--</option>
        <option value="trip">Sea</option>
        <option value="Mountains">Mountains</option>
    </select>
</div>

<div class="container">
    <div class="container-header">
        <div class="title-header">
        </div>
        <div class="header">
            <h2>All expneses</h2>
            <div class="search">
                <!-- <label for="pet-select">Select an event:</label> -->
                <!-- <select class="arrow-down-select">
                    <option value="">--split--</option>
                    <option value="trip">EQUAL</option>
                    <option value="Mountains">UNEQAL - %</option>
                    <option value="Mountains">UNEQAL - Amt</option>
                </select> -->
                <div class="filter">
                    <button class="filter-btn" type="submit"><img class="icon" src="../../../assets/img/filter.png" alt=""></button>
                </div>
                <button class="plus-icon-btn">ADD</button>
            </div>
        </div>
        <div class="bottom-line"></div>
    </div>

    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th>who paid</th>
                    <th>category</th>
                    <th>amount</th>
                    <th>date</th>
                    <th>split</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Unequal - %</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Unequal - Amt</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Unequal - %</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Unequal - %</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Food</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
                <tr>
                    <td>Volodymry Holovetskyi</td>
                    <td>Transport</td>
                    <td>$ 12.00</td>
                    <td>2024-03-15</td>
                    <td>Equal</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>