<!-- <div class="hide-sidebar">
    <img src="../../../../assets/img/hide_sidebar.png" alt="">
</div> -->
<div class="nav-bar">
        <div>

                <a class="nav-item" href="#"><img class="icon" src="../../../../assets/img/home_icon.png"
                                alt="">home</a>
                <a class="nav-item" href="/events"><img class="icon" src="../../../../assets/img/travel_holiday.png"
                                alt="">event</a>
                <a class="nav-item" href="/expenses"><img class="icon" src="../../../../assets/img/cash_transaction.png"
                                alt="">expenses</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/money-bills.png"
                                alt="">balance</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/report_file.png"
                                alt="">report</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/settings_icon.png"
                                alt="">settings</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/signout.png" alt="">logout</a>
        </div>
</div>