<!-- <div class="hide-sidebar">
    <img src="../../../../assets/img/hide_sidebar.png" alt="">
</div> -->
<div class="nav-bar">
        <div>

                <a class="nav-item" href="#"><img class="icon" src="../../../../assets/img/home_icon_184230.png"
                                alt="">home</a>
                <a class="nav-item" href="/expenses"><img class="icon" src="../../../../assets/img/user_icon_184160.png"
                                alt="">groups</a>
                <a class="nav-item" href="/events"><img class="icon"
                                src="../../../../assets/img/calendar_icon_184162.png" alt="">events</a>
                <a class="nav-item" href="/expenses"><img class="icon"
                                src="../../../../assets/img/wallet_icon_184183.png" alt="">expenses</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/graph_icon_184158.png"
                                alt="">balance</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/document_icon_184220.png"
                                alt="">report</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/setting_icon_184215.png"
                                alt="">settings</a>
                <a class="nav-item" href=""><img class="icon" src="../../../../assets/img/logout_icon_184229.png"
                                alt="">logout</a>
        </div>
</div>